body {
    margin: 0;
    background-image: url(/Pictures/lightMode.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#layout {
    overflow: scroll;
    margin-top: 90px;
    margin-left: 30%;
    margin-right: 30%;
    height: 500px;
    padding: 50px;
    box-shadow: 0 0 0.55rem rgba(112, 112, 112, 0.694);
    background-color: whitesmoke;
}

header {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-right: 10px;
    position: sticky;
    top: 0;
}

header #darkMode {
    float: right;
    background-color: whitesmoke;
    box-shadow: 0 0 0.55rem rgba(112, 112, 112, 0.694);
    border: none;
}

header #darkMode:hover {
    background-color: rgba(112, 112, 112, 0.3);
 }

#lightMode {
    float: right;
    background-color: whitesmoke;
    box-shadow: 0 0 0.55rem rgba(112, 112, 112, 0.694);
    border: none;
}

#lightMode:hover {
    background-color: rgba(112, 112, 112, 0.3);
 }

#dark {
    background-image: url(/Pictures/darkMode.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#dark #layout {
    background-color: black;
}

#dark h1, #dark div {
    color: white;
}

h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
    margin-bottom: 50px;
}

#result {
    float: right;

}

#welcomeH2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 30px;
}

#startQuiz {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: whitesmoke;
    box-shadow: 0 0 0.55rem rgba(112, 112, 112, 0.694);
    border: none;
 }
  
 #startQuiz a {
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
 }
  
 #startQuiz:hover {
    background-color: rgba(112, 112, 112, 0.3);
 }